*{
  color: wheat;
}
body {
  background-color: rgb(109, 7, 7);
  font-size: 16px;
  font-family: 'Pacifico', cursive;
}
.header{
  text-align: center;
}
.header h1 {
  font-weight: bold;
  font-size: 6vw;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
}

.header p,
.header h1 {
  margin: 0;
}

.header h3 {
  position: relative;
  font-size: 3vw;
  margin: 0;
  padding: 0;
}

.header h3::before,
.header h3::after {
  content: "";
  position: absolute;
  left: 20%;
  right: 20%;
  border-top: 0.1vw solid black;
  z-index: -2;
}

.header h3::before {
  top: 50%;
}

.header h3::after {
  bottom: 50%;
  position: relative;
}

.header span {
  background-color: rgb(109, 7, 7);
  padding: 1vw;
}
.starters{
  text-align: center;
  width: 30vw;
  margin: auto;
}
.startersHeading {
  display: flex;
  font-size: 1.5vw;
  justify-content: space-between ;
}

.pizzasHeading img,
.startersHeading img {
  max-height: 7vw;
}

.startersContent {
  margin: 0 ;
}
.startersContent h4 {
  margin: 0;
  padding: 0;
}
.startersContent p {
  margin: 0;
  margin-bottom: 1vw;
  padding: 0;
  font-size: 1vw;
}
