
body {
  background-color: rgb(109, 7, 7);
  font-size: 16px;
  font-family: 'Pacifico', cursive;
}
.header{
  text-align: center;
}
.header h3::before {
  top: 50%;
}

.header h3::after {
  bottom: 50%;
  position: relative;
}

.header span {
  background-color: rgb(109, 7, 7);
  padding: 1vw;
}