*{
  color: wheat;
}
body {
  background-color: rgb(109, 7, 7);
  font-size: 16px;
  font-family: 'Pacifico', cursive;
}
.header{
  text-align: center;
}
.header h1 {
  font-weight: bold;
  font-size: 6vw;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
}

.header p,
.header h1 {
  margin: 0;
}

.header h3 {
  position: relative;
  font-size: 3vw;
  margin: 0;
  padding: 0;
}

.header h3::before,
.header h3::after {
  content: "";
  position: absolute;
  left: 20%;
  right: 20%;
  border-top: 0.1vw solid black;
  z-index: -2;
}

.header h3::before {
  top: 50%;
}

.header h3::after {
  bottom: 50%;
  position: relative;
}

.header span {
  background-color: rgb(109, 7, 7);
  padding: 1vw;
}
.starters{
  text-align: center;
  width: 30vw;
  margin: auto;
}

.drinksHeading,
.startersHeading {
  display: flex;
  font-size: 20px;
  justify-content: center;
}

.drinksHeading img,
.startersHeading img {
  max-height: 80px;
}

.startersContent {
  margin: 0 ;
}
.startersContent h4 {
  margin: 0;
  padding: 0;
}

.startersContent p {
  margin: 0;
  margin-bottom: 1vw;
  padding: 0;
  font-size: 13px;
}

.spinningPizzas {
  background-color: rgb(121, 13, 13);
  width: 80vw;
 margin: auto;
}
.rotating-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.image-container{
  margin: 10px;
  width: 30vw;
  text-align: center;
  transition: transform 0.5s ease;
}
.image-container img {
  animation: spin 6s linear infinite;
  max-width: 100px;
  
}
.image-container h3 {
  margin: 0.5vw;
}
.image-container:hover {
  transform: scale(1.1);
}

.drinks {
  text-align: center;
}
.headerContainer{
  max-width: 250px;
  margin: auto;
}
.drinksHeading {
  display: flex;
}
.drinksHeading h3 {
  font-size: large;
  margin-top: 3vw;
}
.drinksContent{
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  justify-content: space-around;
  margin: auto;
  
}
.drinksContent p{
  font-size: 13px;
  
}

footer {
  text-align: center;
  padding: 2vw;
  color: wheat;
  font-size: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: wheat;
  text-decoration: none;
  border-radius: 20px;
  font-size: 20px;
  margin: 5px;
  color: black;
}

button i{
  color: black;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 600px) {
  .image-container {
    width: 100vw;
  }
  footer{
    display: flex;
    flex-direction: column;
  }
}
